@font-face {
   font-family: Helvetica;
   src: url(fonts/Helvetica.ttf);
}

body{
   font-family: Helvetica;
}
*{
   margin: 0;
   padding: 0;
}

img{
   max-width: 100%;
}
a{
   text-decoration: none;
}

.t-start{
   text-align: left;
}
.t-center{
   text-align: center;
}
.t-end{
   text-align: right;
}

.start{
   float: left;
}
.end{
   float: end;
}
.clear::after{
   content: '';
   clear: both;
   display: block;
}


.fixed-width{
   max-width: 1000px;
   margin: 0 auto;
}

/* Header Top CSS Start */
.header-top {
	background: #232323;
	padding: .7% 0;
}
.h-top-master{
   display: flex;
   justify-content: space-between;
}
.h-top-start{}
.h-top-start a {
	display: flex;
}
.h-top-start a img {
	max-width: 7%;
	margin-right: 2%;
}
.h-top-start a h3 {
	color: #fff;
	font-size: 22px;
}
.h-top-start a h3 span{
   color: #81B441;
   font-weight: 500;
}

.h-top-end {
	flex: 1 1 0%;
	text-align: right;
}
.h-top-end a {
	color: #fff;
	font-size: 13px;
	background: #333333;
	display: inline-block;
	padding: 1% 2%;
	border-radius: 0 4px 4px 0;
   transition: 300ms;
}
.h-top-end a:hover{
   background: #111;
   text-decoration: underline;
}
.h-top-end .w-lg {
	font-weight: 900;
	border-radius: 4px 0px 0px 4px;
}
.h-top-end .w-sm{}
/* Header Top CSS End */

/* Master Header Start */
.header-section{
   background: #333;
   padding: 1% 0;
}
.h-sec-master{
   display: flex;
   justify-content: space-around;
}
.header-item{}
.header-item a {
	display: flex;
}
.header-item a img {
	max-width: 17%;
}
.header-item a h4 {
	color: #ffffffb0;
	font-weight: 400;
   transition: 300ms;
}
.header-item a h4:hover{
   color: #fff;
}
/* Master Header End */

/* Banner Section Start */
.banner-section{
   background: url(img/banner_bg.jpg) repeat-x top center;
   padding: 50px 0;
}
.banner-content {
	color: #fff;
}
.banner-content h1 {
	font-size: 35px;
	margin-bottom: 25px;
}
.banner-content p {
	font-size: 20px;
	margin-bottom: 7px;
}
.banner-content h2 {
	margin-top: 30px;
	font-size: 32px;
   position: relative;
}
.banner-content h2::after {
	content: '';
	position: absolute;
	bottom: -6px;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 150px;
	height: 2.5px;
	background: rgb(208, 221, 21);
}
.banner-content .banner-form {
	margin-top: 5%;
}
.banner-content .banner-form select {
	padding: 1.8% 0;
	font-size: 15px;
	padding-left: 1%;
	padding-right: 8%;
	margin-right: 5%;
   transition: 400ms;
}
.banner-content .banner-form select:focus{
   transform-origin: top center;
}
.banner-content .banner-form input {
	padding: 1.8% 0;
	padding-left: 2%;
	padding-right: 30%;
	border: none;
	border-radius: 5px 0 0 5px;
	width: 20%;
	font-size: 15px;
}
.banner-content .banner-form label {
	background: #d4d4d4;
	display: inline-block;
	padding: 18px 2%;
	margin-left: -3px;
	border: none;
	border-radius: 0 5px 5px 0;
}
/* Banner Section End */

/* Services Section Start */
.services-section{
	background: #F5F5F5;
	padding: 50px 0;
}
.section-title {
	text-align: center;
	margin-bottom: 30px;
}
.section-title h1 {
	font-size: 35px;
	color: #444444;
	margin-bottom: 20px;
}
.section-title h5 {
	color: #666666;
	font-size: 20px;
	font-weight: 500;
}

.services-items {
	display: flex;
}
.service-item {
	background: #fff;
	margin-right: 2%;
	margin-bottom: 3%;
	padding: 2.5% 2%;
	text-align: center;
	border-radius: 6px;
}
.service-item .header-item{}
.service-item .header-item a{
	justify-content: center;
}
.service-item .header-item a img{}
.service-item .header-item a h4 {
	color: #272727;
	font-size: 28px;
	margin-left: 5%;
}
.service-item p {
	margin: 6% 0;
	margin-bottom: 12%;
	color: #666666;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.09px;
}
.service-item p a {
	color: #222;
	font-weight: 600;
	transition: 300ms;
}
.service-item p a:hover{
	color: #1ABC9C;
	text-decoration: underline;
}
.service-item .browse {
	font-size: 12px;
	background: #1ABC9C;
	color: #fff;
	padding: 6% 4%;
	border-radius: 5px;
	transition: 300ms;
}
.service-item .browse:hover{
	background: #15a387;
	text-decoration: underline;
}
/* Services Section End */

/* Portfolio Section Start */
.portfolio-section{
	padding: 50px 0;
}
.portfolio-items{
	display: flex;
}
.portfolio-item {
	margin-right: 2%;
	margin-bottom: 3%;
	text-align: center;
}
.portfolio-item img {
	margin-bottom: 2%;
}
.portfolio-item .p-item-text{}
.portfolio-item .p-item-text .title {
	color: #444;
	font-size: 18px;
	transition: 300ms;
}
.portfolio-item .p-item-text .title:hover{
	color: #777;
	text-decoration: underline;
}
.portfolio-item .p-item-text p {
	margin-top: 2%;
	color: #666;
	font-size: 13px;
}
.portfolio-item .p-item-text p a {
	color: #444;
	transition: 300ms;
}
.portfolio-item .p-item-text p a:hover{
	text-decoration: underline;
	color: #666;
}
/* Portfolio Section End */

/* Testimonial Section Start */
.testimonial-section{
	background: #7BC4C4;
	padding: 50px 0;
}
.testi-sec-title{}
.testi-sec-title h1 {
	font-size: 35px;
	color: #fff;
	text-decoration: underline;
	margin-bottom: 1.5%;
}
.testi-sec-title p {
	color: #FDF3A9;
	font-size: 20px;
}

.testimonial-items {
	display: flex;
	margin-top: 3%;
	justify-content: space-between;
}
.testimonial-item {
	display: flex;
	max-width: 430px;
}
.testimonial-item img {
	max-width: 45%;
	height: 90%;
	margin-right: 4%;
}
.testimonial-item .author-details{}
.testimonial-item .author-details h3 {
	color: #fff;
	font-size: 23px;
	margin-bottom: 3%;
}
.testimonial-item .author-details p {
	color: #FDF3A9;
	font-size: 14px;
	font-weight: 600;
	line-height: 17px;
}
.testimonial-item .author-details .anotherP {
	color: #fff;
	margin: 5% 0;
	margin-bottom: 10%;
}
.testimonial-item .author-details .anotherP a {
	color: #FDF3A9;
	transition: 300ms;
}
.testimonial-item .author-details .anotherP a:hover{
	color: #333;
	text-decoration: underline;
}
.testimonial-item .author-details .readmore {
	background: #222;
	color: #FDF3A9;
	padding: 4% 7%;
	border-radius: 5px;
	font-weight: 600;
	letter-spacing: 0.5px;
	transition: 300ms;
}
.testimonial-item .author-details .readmore:hover{
	background: #fff;
	color: #333;
}
/* Testimonial Section End */

/* Create Account Start */
.create-account{
	padding: 50px 0;
	padding-bottom: 80px;
	background: #444;
}
.c-account-content{
	color: #fff;
}
.c-account-content h1 {
	font-size: 35px;
	letter-spacing: .5px;
}
.c-account-content h4 {
	font-size: 20px;
	color: #eee;
	margin-top: 2%;
	margin-bottom: 6%;
	letter-spacing: .7px;
}
.c-account-content a {
	color: #fff;
	background: #7AA93C;
	padding: 2% 6%;
	border-radius: 7px;
	font-size: 25px;
}
/* Create Account End */

/* Footer Section Start */
.footer-section{
	padding: 60px 0;
	padding-bottom: 30px;
	background: #333;
}
.footer-section a{
	color: #fff;
}
.footer-content{}
.footer-top{}
.footer-top .h-top-master{
	padding-bottom: 2%;
	border-bottom: 1px solid #555;
}
.footer-top .h-top-end{
	display: flex;
	justify-content: flex-end;
}
.footer-top .h-top-end p:first-child{
	margin-left: 0;
}
.footer-top .h-top-end p{
	color: #999999;
	margin-left: 12%;
}
.footer-top .h-top-end p span{
	color: #fff;
}

/* Footer Middle Start */
.footer-middle{
	display: flex;
	justify-content: space-between;
}
.footer-middle .f-middle-center{}
.footer-middle h2 {
	color: #999999;
	font-size: 22px;
	position: relative;
	margin: 8% 0;
	margin-top: 15%;
}
.footer-middle h2::after {
	content: '';
	position: absolute;
	bottom: -4px;
	left: 0;
	background: #37db05;
	width: 60px;
	height: 2px;
}

.f-middle-start {
	margin-top: -.8%;
}
.footer-social{}
.footer-social span {
	color: #fff;
	background: #16AC8F;
	display: inline-block;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	border-radius: 50%;
	font-size: 20px;
	margin-right: 2%;
	transition: 300ms;
}
.footer-social span:hover{
	transform: scale(1.2);
}
.f-middle-start .footer-link{}
.f-middle-start .footer-link ul{
	list-style: none;
}
.f-middle-start .footer-link ul li {
	margin-bottom: 2%;
}
.f-middle-start .footer-link ul li a {
	font-size: 14px;
}
.f-middle-start .footer-link ul li a:hover{
	text-decoration: underline;
}


.f-middle-center p{
	color: #999999;
	font-size: 14px;
	max-width: 180px;
	margin: 10% 0;
}
.f-middle-center form{}
.f-middle-center form input {
	display: block;
	margin: 5% 0;
	padding: 1.5% 1.5%;
	width: 180px;
	background: #222;
	border: none;
	color: #999;
	border-radius: 3px;
	font-size: 15px;
}
.f-middle-center form button {
	background: #82B440;
	color: #fff;
	border: 1px solid transparent;
	display: inline-block;
	padding: 1.5% 31.4%;
	font-size: 15px;
	border-radius: 3px;
	cursor: pointer;
	transition: 300ms;

}
.f-middle-center form button:hover{
	border: 1px solid #82B440;
	background: #222;
}
.f-middle-center h2 {
	margin-top: 8%;
}

.f-middle-center .footer-link ul{
	list-style: none;
}
.f-middle-center .footer-link ul li {
	margin-bottom: 2%;
}
.f-middle-center .footer-link ul li a {
	font-size: 14px;
}
.f-middle-center .footer-link ul li a:hover{
	text-decoration: underline;
}


.f-middle-end {
	margin-top: 1.5%;
	width: 47%;
}
.f-m-end-content{
	display: flex;
	margin-bottom: 4%;
}
.f-m-end-content img {
	max-width: 30%;
	border-radius: 5px;
	margin-right: 5%;
}
.f-m-end-content .f-m-end-text{}
.f-m-end-content .f-m-end-text p {
	color: #999;
	font-size: 14px;
	margin-bottom: 5%;
	line-height: 20px;
}
.f-m-end-content .f-m-end-text a{
	font-size: 15px;
}
.f-m-end-content .f-m-end-text a:hover{
	text-decoration: underline;
}
/* Footer Middle End */

.footer-bottom p{
	color: #999;
	font-size: 14px;
	margin-top: 2%;
}
/* Footer Section End */